<div class="section">
  <h5></h5>
  <div class="row">
    <div class="input-field col s6">
      <input id="name" name="name" type="text" value="{{category.name}}">
      <label for="name">Name</label>
    </div>
    <div class="input-field col s6">
      <input id="heading" type="text" value="{{category.heading}}">
      <label for="heading">Heading</label>
    </div>
    <p class="col s6">
      <input type="checkbox" id="featured" name="featured" {{#if category.featured}}checked="checked"{{/if}} value="1" />
      <label for="featured">Featured</label>
    </p>
    <p class="col s6">
      <input type="checkbox" id="mainNav" name="mainNav" {{#if category.mainNav}}checked="checked"{{/if}} value="1" />
      <label for="mainNav">Main Navigation</label>
    </p>

  </div>
</div>
<!--

description: 'category_description',
description2: 'category_description_2',
description3: 'category_description_3'

Order
Featured
Optional Redirect Link
Show On Main Nav
Layout
Product Order
Custom Logo -->
<div class="divider"></div>

<div class="section">
  <h5>Search Engine Optimisation</h5>
  <div class="row">
    <div class="input-field col s6">
      <input id="metaTitle" type="text" value="{{category.metaTitle}}">
      <label for="metaTitle">Meta Title</label>
    </div>
  <div>
  <div class="row">
    <div class="input-field col s6">
      <input id="metaDescription" type="text" value="{{category.metaDescription}}">
      <label for="metaDescription">Meta Description</label>
    </div>
  <div>
  <div class="row">
    <div class="input-field col s6">
      <input id="metaKeywords" type="text" value="{{category.metaKeywords}}">
      <label for="metaKeywords">Meta Keywords</label>
    </div>
  <div>
  <div class="row">
    <div class="input-field col s6">
      <input id="url" type="text" value="{{category.url}}">
      <label for="url">Friendly URL</label>
    </div>
  <div>
</div>
